.divStyle{
    position: relative; 
    padding: 5px;
    margin: 20px 75px 5px 50px; 
    background-color: #F4F4F4;
    box-shadow: 8px 8px 10px 1px #78747c;
}
footer{
    position: relative;
    margin-top: 125px;
}
textarea{
    width: 500px;
    height: 150px;
    margin-bottom: -10px
}
section{
    margin-bottom: 200px;
}
 div.courseDesc{
     border: 2px solid red;
     width: 500px;
     position: relative;
     margin: 155px 0px 0px 720px;
     padding: 10px;

 }
 div.courseDesc p{
     text-align: center;
     
 }
 div.col-lg-5{
     position: relative;
     margin: -400px 0px 0px 0px;
 }
div.insiders{
    position: relative;
}
div.insiders img{
    width:150px;
    position: absolute;
    margin: 0px 0px 0px 840px;
}
